# Direct dependencies for the release pipeline.
# Run: pip-compile --allow-unsafe --generate-hashes requirements-release.in
#      to regenerate requirements-release.txt.
build
tomli
setuptools>=84.0.0
twine
wheel
typing-extensions
keyrings.google-artifactregistry-auth
backports-tarfile
importlib-metadata
zipp
grpcio-tools